{% do view.registerAssetBundle('verbb\\sociallogin\\web\\assets\\cp\\SocialLoginAsset') %}

{% set providers = [] %}

{% for provider in craft.socialLogin.getEnabledProviders() %}
    {% if craft.socialLogin.isConnected(provider.handle) %}
        {% set providers = providers | merge([provider]) %}
    {% endif %}
{% endfor %}

{% if providers %}
    <div class="ss-user-pane pane">
        {% for provider in providers %}
            <div class="ss-user-pane-item">
                <div class="ss-provider" style="--bg-color: {{ provider.primaryColor }}; --size: 18px; --padding: 4px;">
                    {% if provider.icon %}
                        <span class="ss-provider-icon">{{ provider.icon | raw }}</span>
                    {% endif %}

                    <span class="ss-provider-label bold">{{ provider.name }}</span>
                </div>

                <button type="button" class="formsubmit btn small" data-form="false" data-action="social-login/auth/disconnect" data-param="provider" data-value="{{ provider.handle }}">{{ 'Disconnect' | t('social-login') }}</button>
            </div>
        {% endfor %}
    </div>
{% endif %}
