{% do view.registerAssetBundle('verbb\\sociallogin\\web\\assets\\cp\\SocialLoginAsset') %}

{% set providers = craft.socialLogin.getEnabledProviders() %}

{% if providers %}
    <div class="ss-user-pane pane">
        {% for provider in providers %}
            <div class="ss-user-pane-item">
                <div class="ss-provider" style="--bg-color: {{ provider.primaryColor }}; --size: 18px; --padding: 4px;">
                    {% if provider.icon %}
                        <span class="ss-provider-icon">{{ provider.icon | raw }}</span>
                    {% endif %}

                    <span class="ss-provider-label bold">{{ provider.name }}</span>
                </div>

                {% if craft.socialLogin.isConnected(provider.handle) %}
                    <button type="button" class="formsubmit btn small" data-form="false" data-action="social-login/auth/disconnect" data-param="provider" data-value="{{ provider.handle }}" aria-label="{{ 'Disconnect {provider}' | t('social-login', { provider: provider.name }) }}">{{ 'Disconnect' | t('social-login') }}</button>
                {% else %}
                    <a class="btn small" href="{{ craft.socialLogin.getConnectUrl(provider.handle) }}" aria-label="{{ 'Connect {provider}' | t('social-login', { provider: provider.name }) }}">{{ 'Connect' | t('social-login') }}</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
