{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% include 'social-login/providers/_oauth' %}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Store Name' | t('social-login'),
    instructions: 'Enter your {provider} {label} here.' | t('social-login'),
    name: 'storeName',
    required: true,
    suggestEnvVars: true,
    value: provider.storeName ?? '',
    warning: macros.configWarning("providers.#{provider.handle}.storeName", 'social-login'),
    errors: provider.getErrors('storeName'),
}) }}